@import 'tailwindcss';

@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

:root {
	--color-myGray: #ebeef6;
	--color-lavanda: #8f96d6;
	--color-lightLavanda: #a3b6e3;
	--color-lightSky: #a3c4e5;
	--color-sky: #8cafde;
}

@layer base {
	html {
		font-family: 'Pangolin', cursive;
	}
}

body {
	font-family: 'Pangolin', cursive;
	font-weight: 400;
	font-style: normal;
}

* {
	transition: all 0.3s ease-in-out;
}
